.button {
    border: none;
    padding: 40px;
    outline: none;
    border-radius: 6px;
    transition-duration:0.7s;
    margin: 10px;
    font-size: 20px;
    color: rgba(50, 58, 126, 1);
    background: rgba(120, 168, 219, 1);
}

.button:hover {
    background: rgba(70, 118, 169, 1);
}

#buttons {
    padding: 10px;
    text-align: center;
}

#display {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

body {
    background: navy;
    color: rgba(104, 118, 255, 1);
    font-family: hacked; 
}

h1 {
    text-align: center;
    font-size: 60px;
    
}

@font-face {
    font-family: hacked;
    src: url('hacked.ttf');
}